[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Aa]pk/
[Aa]ssets/[Ll]egacy

Assets/AssetStoreTools*

# Visual Studio cache directory
.vs/
.idea/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta

sysinfo.txt

*.apk
*.unitypackage